@font-face {
  font-family: DINAlternate-Bold;
  src:url('../assets/font/DINMittelschriftStd.otf'),
  url('../assets/font/DINMittelschriftStd.otf'),
  url('../assets/font/DINMittelschriftStd.otf'); /* IE9 */
}

@font-face {
  font-family: BodoniSvtyTwoITCTT-Bold;
  src:url('../assets/font/Bodoni_SvtyTwo_ITC_TT_Bold.ttf'),
  url('../assets/font/Bodoni_SvtyTwo_ITC_TT_Bold.ttf'),
  url('../assets/font/Bodoni_SvtyTwo_ITC_TT_Bold.ttf'); /* IE9 */
}
