target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel config ###
*/**/rebel.xml
*/**/.rebel.xml.bak

### project ###
**/*.log
*.db

### front-end ###
yarn.lock
dist

### DS_Store ###
.DS_Store

